.idea
.DS_Store
npm-debug.log
*-debug.log
*-error.log
/node_modules
/env
/.nyc_output
/coverage
/coverage-browser
/test/live-server/test
/test/live-server/PluginManager.js
/test/live-server/PluginManager.js.map
/test/live-server/TestSuiteRunner.js
