.idea
.DS_Store
npm-debug.log
*-debug.log
*-error.log
/.dts
/node_modules
/dist
/env
/lib
/.nyc_output
/coverage
/coverage-browser
/test/public/test
/test/public/Eventbus.js
/test/public/Eventbus.js.map
/test/public/PluginManager.js
/test/public/PluginManager.js.map
/test/public/TestsuiteRunner.js
